<div class="nested-fields" id="nested-field">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :resolution, label: 'Resolución' %>
        </div>
        <div class="col-md-6">
          <%= f.input :end_date, as: :string, label: 'Fecha termino', input_html: { class: 'datepicker' } %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to_remove_association f, class: 'btn btn-danger' do %>
        <% icon('fas', 'trash-alt') %>
      <% end %>
    </div>
  </div>
</div>
<br>
